h2{
    text-align: center;
}
#send-address{
   /* margin-top: 0px;
    margin-right: 50%;
    margin-bottom: 0px;
    margin-left: 40%;
    background-color: goldenrod;
    padding: 10px, 40px, 10px, 50px;*/
    display: block;
    margin-right: auto;
    margin-left: auto;
    }
#submit{
    margin-top: 0px;
    margin-right: 40%;
    margin-bottom: 0px;
    margin-left: 2%;
    background-color: rgb(109, 131, 146);
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#email{
    margin-top: 0px;
    margin-right: 40%;
    margin-bottom: 0px;
    margin-left: 2%;
    background-color: beige;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
feeder-can{
    text-align: justify;
}