*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: goldenrod;
   }
:root{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: black;
}
li {
    list-style: none;
    }
