.feeder{
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}
.final__information{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
        padding: 10px;
        justify-content: space-around;
        align-items: center;
        }

.inal__information-under{
    text-decoration: none;
}
.inal__information-under:hover{
    text-decoration: underline;   
}
