
header{
    top: 210;
    min-height: 35px;
    padding: 10px 0px 50px 5px;
    display: block;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(206, 190, 190);
  }
 .nav__bar{
    display: inline-flex;
    align-items: ;
 }
.nav__bar-link{
    padding: 0px, 4px, 0, 4px;
    margin-top: 6px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 130px;
}

    @media (max-width: 6000px) {
        header {
          flex-wrap: wrap;
        }
      }  
* {
    margin: 4;
    margin-top: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    padding: 6;
    box-sizing: border-box;
}